/* App.css */
@keyframes shimmer {
  0% {
    background-position: 200%;
  }
  100% {
    background-position: -200%;
  }
}

.gradient-container {
  position: relative;
  overflow: hidden;
  background: linear-gradient(315deg, #9ab5e1,#98d9e1, #f39fdc);
  background-size: 200% 200%;
}
